<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/animais.css">
</head>
<body>
    <h2>ESCOLHA:</h2>

    <main>

        <div class="inf">
            <a><img src="imagens/dalmata.jpg" alt="Dalmata"></a>
            <ul>
                <li>Nome:</li>
                <li>Espécie:</li>
                <li>Idade:</li>
                <li>Raça:</li>
                <li>Histórico:</li>
            </ul>
        </div>

        <div class="inf">
            <a><img src="imagens/labrador.jpg" alt="Labrador"></a>
            <ul>
                <li>Nome: </li>
                <li>Espécie:</li>
                <li>Idade:</li>
                <li>Raça:</li>
                <li>Histórico:</li>
            </ul>
        </div>

        <div class="inf">
            <a><img src="imagens/shihtzu.jpg" alt="Shihtzu"></a>
            <ul>
                <li>Nome: </li>
                <li>Espécie:</li>
                <li>Idade:</li>
                <li>Raça:</li>
                <li>Histórico:</li>
            </ul>
        </div>

        <div class="inf">
            <a><img src="imagens/salsicha.jpg" alt="Salsicha"></a>
            <ul>
                <li>Nome: </li>
                <li>Espécie:</li>
                <li>Idade:</li>
                <li>Raça:</li>
                <li>Histórico:</li>
            </ul>
        </div>

    </main>
</body>
</html>