<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

    <header>
        <h1>Adote mais um motivo para ser feliz!</h1>
        <img src="imagens/gato_parede.jpg" alt="">
    </header>

    <main>
        <h2>Como funciona:</h2>
        <div class="conteiner">
            <div class="intro">
                <h4>Encontre seu pet</h4>
                <h5>Busque, dentro das nossas inúmeras opções, o seu pet ideal </h5>
            </div>
            
            <div class="intro">
                <h4>Conheça seu pet</h4>
                <h5>Veja o informativo de todos os detalhes do seu novo animalzinho</h5>
            </div>
            <div class="intro">
                <h4>Solicite a adoção</h4>
                <h5>Nosso time irá avaliar sua solicitação</h5>
            </div>
        </div> 
    </main>

    <main>
        <h2>ESCOLHA:</h2>
        <a href="cachorro.html"><img src="imagens/icons8-perro-100.png" alt="Cachorro"></a>
        <a href="gato.html"><img src="imagens/icons8-gato-100.png" alt="Gato"></a>
    </main>

    <footer>
        <h6>Centro de adoção ENIAC</h6>
    </footer>

</body>
</html>